$color-dark: #262a38;
$color-tertiary: #A77B3A; 
$color-tertiary-faded: #a77b3a3a; 
$color-tertiary-lighter: #595239;
$off-white: #e0d8d1;
$white: #fff;
$BHSBrown: #997950;

$gradient-left:rgba(126,213,111,.8);
$gradient-right:rgba(40,180,131,.8);





$gap-web-border-quarter: .5rem;
$gap-medium: 1rem;
$gap-web-border: 2rem;
$extra-large-gap:4rem;
$main-title-font:6.5rem;
$title-font: 2.5rem;
$paragraph-font: 2rem;

