.individualSkillContainer {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    background-image: linear-gradient(to right, rgba(202, 139, 22, 0.8), rgba(255, 223, 0, 0.8));
    border-radius: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  }
  
  .individualSkillInner {
    padding: 2rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  }

  .individualSkillImage {
    display: block;
    margin: 0 auto 1.5rem auto;
    max-width: 100%;
    border-radius: 2rem;
  }
  
  .individualSkillTitle {
    text-align: center;
    font-size: $title-font;
    margin-bottom: 1.5rem;
  }
  
  .individualSkillParagraph {
    font-size: $paragraph-font;
    text-align: left;
    margin-bottom: 1rem;

    pre {
        background-color: #f4f4f4;
        padding: 1rem;
        border-radius: 0.5rem;
        overflow-x: auto;
        font-size: $paragraph-font;
      }
    
      code {
        font-family: monospace;
        font-size: 1rem;
        font-size: $paragraph-font;

      }
  }
  
  .individualSkillTags {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 1rem;
  }
  
  .individualSkillTag {
    background-color: #0070f3;
    color: #fff;
    padding: 0.5rem;
    border-radius: 4px;
    margin-right: 0.5rem;
    display: inline-block;
  }
  
  .backButton {
    display: block;
    margin: 2rem auto 0 auto;
    padding: 1rem 2rem;
    font-size: $paragraph-font;
    background-color: rgba(202, 139, 22, 0.8);
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: rgba(202, 139, 22, 1);
    }
  }