*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body{
    font-family: "Lato", sans-serif;
    padding: $gap-web-border;
    font-weight: 400;
    line-height: 1.7;
    // margin-top: $extra-large-gap;
    height: 100svh;
    color: #777
}


/* Styles for screen widths between 400px and 1220px */
@media (min-width: 1501px) and (max-width: 2000px) {
    html {
        font-size: 70%!important;
    }
}
@media (min-width: 801px) and (max-width: 1500px) {
    html {
        font-size: 50%!important;
    }
}




@media (max-width: 800px) {
    html {
        font-size: 40%!important;
        width: 100vw;
    }
}