



.imageContainer{
    width: 100%;
    display: flex;


    &__photo{
        width: 80%;
        margin: auto;
    }
}


.linkedInSVG{
    cursor: Pointer;
}


.centerContentHorizontally {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; /* This ensures that items wrap onto multiple lines if needed */
    width: 100%;
    margin: 0 auto;
  }



.pageTitle{
    font-size: $main-title-font;
    text-align: center;
    margin-bottom: $gap-web-border;
    &__white{
        color:white;
    }
}

.pageSubTitle{
    font-size: $title-font;
    text-align: center;
    margin-bottom: $gap-web-border;
}

