.skill-card {
    width: 80%; 
    height: 30vh; 
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 16px;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    margin: 20px;
    &:hover {
      box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    }
    &__articles,
    &__projects {
      margin-top:1rem;
      font-size: 1rem;
      color: #444;
    }
    &__core {
        font-weight: 90;
        color: #222;
        font-size: 1rem;
        margin-top: -4rem;
      }
  
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      &-name {
        font-size: 2rem; 
        font-weight: 700; 
        text-align: left;
        flex-grow: 1;
      }
  
      &-meta {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
  
        &-date {
          font-size: 1rem; 
          color: gray;
          font-weight: 500;
        }
  
        &-domain {
          font-size: 1rem; 
          color: darkgray;
          font-weight: 500;
        }
      }
    }
  
    &__info {
      font-size: 1.2rem; // Bigger text for info
      font-weight: 400;
      color: #333;
      max-width: 100%;
  

    }
  

  }
  