// components/layout/header/_header.scss

.header {
  background-color: $color-dark;
  color: $off-white;
  height: 8svh;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content:center; // Center horizontally and add space between containers
  padding: 0 $gap-medium;
  z-index: 1000;
  transition: top 0.5s ease;

  &.collapsed {
    top: -60px;
  }
}

.hamburger {
  position: fixed;
  top: 10px;
  right: .2rem;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  z-index: 1001;
  
  span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: $color-tertiary;
    transition: all 0.3s ease;
  }

  &.expanded span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  &.expanded span:nth-child(2) {
    opacity: 0;
  }

  &.expanded span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
.headerLinkLargeContainer {
  margin: 0 2rem; // Adjust the margin to control the space between containers
  display: flex;
  align-items: center;

  .headerLinkLarge {
    text-decoration: none;
    font-size: $title-font;
    color: white;
    cursor: pointer;
    margin: .5rem
  }

  @media (max-width: 600px) {
    transform: scale(0.6);
    margin: 0; // Adjust as necessary for smaller screens
  }
}

.headerLinkSmallContainer {
  margin: 0 2rem; // Adjust the margin to control the space between containers
  display: flex;
  align-items: center;

  .headerLinkSmall {
    text-decoration: none;
    font-size: $paragraph-font;
    margin: 0.5rem;
    color: white;
    cursor: pointer;
  }

  .headerSpacers {
    font-size: $paragraph-font;
    margin: 1.5rem;
    color: white;

    @media (max-width: 600px) {
      display: none;
    }
  }

  @media (max-width: 600px) {
    transform: scale(0.6);
    margin: 1rem; // Adjust as necessary for smaller screens
  }
}